body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0px;
}

.header,
.footer {
    background-color: #1F2937;
    width: 100%;
}
.logo {
    font-size: 1.5rem;
    color: #F9FAF8;
    display: flex;
    justify-content: flex-start;
    margin-left: 3.125rem;
    margin-top: 2rem;
}
.titlebody, 
.headlink {
    font-size: 18px;
    color: #E5E7EB;
}
.headtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headlinks {
    display: inline-flex;
    justify-content: flex-end;
    gap: 1.125rem;
    margin-right: 3.125rem;
    margin-top: 2rem;
}
.headbot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3.125rem;
}
.titletext {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
}
.titlehead {
    display: flex;
    justify-content: flex-start;
    font-size: 3rem;
    font-weight: 1000;
    color: #F9FAF8;
    width: 30.75rem;
}
.titlebody {
    display: flex;
    width: 35.75rem;
}
.imgplaceholder {
    display: flex;
}

.signtop {
    background-color: #3882F6;
    width: 6.25rem;
    border: 0rem;
    border-radius: 0.625rem;
    padding: 0.313rem;
    margin-top: 1.25rem;
}

.headimg {
    width: 12.5rem;
    border-radius: 0.625rem;
}



.boxtitle {
    font-size: 2.25rem;
    font-weight: 1000;
    color: #1F2937;
    padding: 25px;
}
.box img {
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}
.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;
    gap: 20px;
    width: 150px;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.quotebox {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px;
}
.quote {
    display: flex;
    font-size: 30px;
    color: #1F2937;
    width: 45rem;
}
.quoteauthor {
    display: flex;
    justify-content: flex-end;
}


.cta {
    display: flex;
    background-color: #3882F6;
    padding: 35px 50px 35px 50px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ctatext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F9FAF8;
}
.ctahead {
    display: flex;
    justify-content: flex-start;
}
.ctabody {
    display: flex;
    justify-content: flex-start;
}
.signbot {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: #3882F6;
    height: 30px;
    width: 100px;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 40px;
}

.footer {
    padding: 2rem;
}
.footertext {
    color: #E5E7EB;
}